In [1]:
import pandas as pd

In [29]:
import pandas as pd
import numpy as np


def statics(data):
    print(data.shape)
    stats = []
    for col in data.columns:
        stats.append((col, data[col].nunique(), data[col].isnull().sum() * 100 / data.shape[0],
                      data[col].value_counts(normalize=True, dropna=False).values[0] * 100, data[col].dtype))

    stats_df = pd.DataFrame(stats, columns=['Feature', 'Unique_values', 'Percentage_of_missing_values',
                                            'Percentage_of_values_in_the_biggest category', 'type'])
    stats_df.sort_values('Percentage_of_missing_values', ascending=False, inplace=True)
    return stats_df

In [30]:
train=pd.read_csv('data/train.csv')
test=pd.read_csv('data/testA.csv')

In [31]:
train.head()

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
0,0,35000.0,5,19.52,917.97,E,E2,320.0,2 years,2,...,9.0,8.0,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0
1,1,18000.0,5,18.49,461.90,D,D2,219843.0,5 years,0,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2,2,12000.0,5,16.99,298.17,D,D3,31698.0,8 years,0,...,0.0,21.0,4.0,5.0,3.0,11.0,0.0,0.0,0.0,4.0
3,3,11000.0,3,7.26,340.96,A,A4,46854.0,10+ years,1,...,16.0,4.0,7.0,21.0,6.0,9.0,0.0,0.0,0.0,1.0
4,4,3000.0,3,12.99,101.07,C,C2,54.0,NaN,1,...,4.0,9.0,10.0,15.0,7.0,12.0,0.0,0.0,0.0,4.0

In [32]:
statics(train)

(800000, 47)

,Feature,Unique_values,Percentage_of_missing_values,Percentage_of_values_in_the_biggest category,type
43,n11,5,8.719000,91.210250,float64
8,employmentLength,11,5.849875,32.844125,object
40,n8,102,5.033875,5.601000,float64
39,n7,70,5.033750,10.416375,float64
33,n1,33,5.033750,20.376000,float64
34,n2,50,5.033750,14.651375,float64
35,n2.1,50,5.033750,14.651375,float64
37,n5,65,5.033750,9.572000,float64
38,n6,107,5.033750,8.086500,float64
46,n14,31,5.033750,23.437625,float64
41,n9,44,5.033750,14.766750,float64
44,n12,5,5.033750,94.664375,float64
45,n13,28,5.033750,89.516375,float64
32,n0,39,5.033750,72.428375,float64
36,n4,46,4.154875,16.816125,float64
42,n10,76,4.154875,8.502875,float64
25,revolUtil,1286,0.066375,0.521250,float64
23,pubRecBankruptcies,11,0.050625,87.509500,float64
17,dti,6321,0.029875,0.074125,float64
7,employmentTitle,248683,0.000125,6.393625,float64
30,title,39644,0.000125,49.166750,float64
15,postCode,932,0.000125,1.119500,float64
18,delinquency_2years,30,0.000000,80.714375,float64
14,purpose,14,0.000000,58.012000,int64
2,term,2,0.000000,75.862750,int64
3,interestRate,641,0.000000,2.818625,float64
4,installment,72360,0.000000,0.230375,float64
5,grade,7,0.000000,29.211250,object
6,subGrade,35,0.000000,6.345375,object
9,homeOwnership,6,0.000000,49.466500,int64
10,annualIncome,44926,0.000000,3.835250,float64
11,verificationStatus,3,0.000000,38.726250,int64
12,issueDate,139,0.000000,3.633250,object
13,isDefault,2,0.000000,80.048750,int64
16,regionCode,51,0.000000,14.615125,int64
19,ficoRangeLow,39,0.000000,8.996750,float64
31,policyCode,1,0.000000,100.000000,float64
29,earliesCreditLine,720,0.000000,0.695875,object
28,applicationType,2,0.000000,98.073250,int64
27,initialListStatus,2,0.000000,58.304750,int64
26,totalAcc,134,0.000000,3.619500,float64
24,revolBal,71116,0.000000,0.493125,float64
1,loanAmnt,1540,0.000000,7.383500,float64
22,pubRec,32,0.000000,83.095625,float64
21,openAcc,75,0.000000,8.858125,float64
20,ficoRangeHigh,39,0.000000,8.996750,float64
0,id,800000,0.000000,0.000125,int64

In [33]:
train['isDefault'].value_counts()

0    640390
1    159610
Name: isDefault, dtype: int64

In [40]:
train.select_dtypes(include=['object', 'category']).columns.values.tolist()

['grade', 'subGrade', 'employmentLength', 'issueDate', 'earliesCreditLine']

In [ ]:
train.fillna()

## 特征工程

## 类别特征

- grade	贷款等级

In [42]:
train['grade'].value_counts()

B    233690
C    227118
A    139661
D    119453
E     55661
F     19053
G      5364
Name: grade, dtype: int64

In [44]:
train['policyCode'].value_counts()

1.0    800000
Name: policyCode, dtype: int64